/******
    Author: John Coronite
    Email: John@Coronite.net
    Website: coronite.net
    Source Files Available At: https://github.com/jcoro/TileBreaker
    Copyrighted material used in accordance with Fair-Use exemption for education in Title 17 of the U.S. Code Section 107 http://www.copyright.gov/title17/92chap1.html#107
    
    ****Image Credits****
    Character images: http://bulbapedia.bulbagarden.net
    Background and Brick images: http://www.pokemon.com/us/
    Copyright 2016 John Coronite

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*******/

body {  
    font-family: Arial, helvetica, sans-serif; 
    font-size: 18px;              
}

body p {
    line-height: 25px;
}

.main_wrapper{
    overflow: hidden;
    padding: 25px;
    width: 1021px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 0;
}

canvas {
    background: #eee;
    display: block;
    margin:0 auto;
    } 

.wrapper {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.button_container {
    padding: 5px 0;
    display:inline-block;
}

.button_wrapper{
    display:inline;
    margin: 0 auto;
}

button {
    width:130px;
    height:35px;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    box-shadow: 0px 10px 14px -7px #636363;
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}

button:active {
    position:relative;
    top:1px;
}

button:focus {
    outline:0;
}

#nextLevelButton, #continueButton{
    display:none;
}

#level {
    font-weight:bold;
}

#left_section {
    width:800px;
    float: left;
}

#right_section {
    float: left;
}

.title {
    text-align: center;
}

h2, h3, h4 {
    margin:0;
}

.scoreboard{
    background:url("../img/scoreboard-bg.png");
    background-repeat: no-repeat;
    height: 445px;
    width:217px;
    text-align: center;
}

.test_scoreboard {
    position: fixed;
}

.sb-header {
    height:70px;
}

.sb-header h2 {
    line-height: 70px;
    font-size:30px;
}

.sb-level {
    height:55px;
}

.sb-level h4 {
    padding-top:20px;
    font-size:20px;
}

.sb-score, .sb-characters {
    height:60px;
}

.sb-score h3, .sb-characters h3 {
    line-height: 60px;
    font-size:20px;
}

.sb-instructions p {
    padding: 15px 20px;
    font-size:15px;
    line-height: 20px;
}

.instructions {
    text-align:left;
}

.lesson_container {
    text-align:left;
    padding:30px;
}

.lesson_container li{
    margin-bottom:15px;
}


.lesson_button_container {
    padding: 20px 0px 35px 0px;
}

.questions_container {
    padding:25px;
    background: #dedede;
    margin-bottom: 20px;
    border-radius: 6px;
}

.lesson_container h2{
    margin-bottom:15px;
}

.quiz_lesson_container {
    padding:30px 0px 10px 0px;
}

span#score, span#characters {
    color: #8B0000;
}

input {
    padding: 9px;
    border-radius: 6px;
    border: 1px solid #777777;
}

.image_wrapper {
    padding:15px 0px;
}

.test-color-span {
    width:50px;
    height: 50px;
    background-color:#4682B4;
}

.btn_div {
    padding:10px;
}

.table_container {
    padding:25px 0px;
}

table {
    border-collapse: collapse;
    margin:0 auto;
}

table, th, td {
   border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background: #cecece;
}

.image_container {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

form.qForm {
    padding-bottom:25px;
    font-family: monospace;
}


/** CODE-SPECIFIC STYLING **/
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { 
    list-style-type: decimal !important; 
    color: #cecece;
  }

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #cecece !important;
    font-size: 14px;  
}

  pre {
    margin: 0 auto;
  }

  pre.prettyprint {
    border-top: none!important;
    overflow: scroll;
  }

  .codeSection {
    padding-bottom: 40px;
  }

  .codeSection h2 {
    font-family: monospace;
    margin: 0px;
    padding: 15px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    background: #eee;
  }

  .mono {
    font-family: monospace;
    background: #FFEB3B;
  } 
  /** END CODE-SPECIFIC STYLING **/ 

